.selectedtype__screen {
    margin: 4px;
}

.selectedtype__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    padding-inline-start: 0px;
}

.selectedtype__item {
    width: 48%;
    padding-bottom: 24%;
    margin-bottom: 2%;
    position: relative;
    border: 1px solid black;
}

.selectedtype__locations {
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 34px;
    width: 95%;
}