.pickups__page {
    height: 100vh;
    background: linear-gradient(0deg, rgb(14, 116, 129), rgb(255, 255, 255) 75%) fixed;
}

.pickups__page ul {
    list-style: none;
    margin: auto;
    padding-left: 0px;
}

.pickups__page li {
    background-color: white;
    margin: auto;
    border: 0;
    border-radius: 20px;
    padding: 4px;
    margin-bottom: 20px;
}

.pickups__page button {
    background-color: rgb(255, 202, 202);
    border: 0;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.pickup_location_label {
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 500;
}

.pickup_location {
    margin-top: 2px;
}

@media all and (min-width: 800px) {
    .pickups__page ul {
        width: 75vh;
        margin: auto;
        padding-bottom: 80px;
    }
}